@import "../breakpoints";

@media (max-width: $mobile), (hover: none) {
    .contact-section {
        width: 100vw;
        padding: 0 .5rem;
        position: absolute;
        top: -5%;
    }
    
    .contact-form {
        width: 100%;
        transform: scale(.8);
    }     
    
    .contact-form__button {
        width: 70%;
    }
}