@import "../breakpoints";

@media (max-width: $mobile) {
    .section-curtain {
        height: 18vh;
    }

    .section-curtain.expanded { 
        height: 20vh;
        z-index: 10;
    }

    .section-title {
        background-color: rgba(0, 0, 0, 0.7);
    }
}