@import "../breakpoints";

@media (max-width: $mobile) {

    .education-section {
        width: 100vw;
        padding-top: 2.5rem;
        justify-content: flex-start;
        gap: 3rem;
    }

    .rune {
        max-height: 130px;
        transform: scale(1);
        left: 50%;
        top: 7%;
        flex-direction: row;
    }

    .glyph {
        align-self: flex-end;
    }

    .selected-rune {
        position: absolute;
        transform: scale(.5);
        z-index: 10;
    }

    .selected-rune .glyph {
        z-index: 20;
    }

    .selected-rune .rune__text-container {
        transform: scale(1.5) !important;
        left: -90%;
    }

    .glyph__container {
        width: 120px !important;
        height: 100%;

        &::before {

        }
    }

    .rune__text-container,
    .rune.start .rune__text-container {
        justify-content: center;
        transform-origin: right center;
        position: absolute;
        width: 90vw;
        top: 10%;
        height: 75vh;
        border-radius: 10px;
        z-index: 10;
        transform: translateX(100px) scaleX(0);
        transition: transform .1s ease-in;
    }

    .rune__text-box {
        flex-direction: column;
        padding: 1rem 0;
    }

    .rune__text {
        flex: 40% !important;
        text-align: center;
    }

}