@import "../breakpoints";

@media (max-width: $mobile), (hover: none) {
    .projects-section {
        padding: 3rem 0 6rem 0;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .project-box {
        left: 0;
        max-width: 75vw;
    }

    .projects-guide {
        display: none;
    }
}