.sit-cuerpo-bottom { animation: sit_cuerpo_bottom 1s linear 0s forwards }
.sit-cuerpo-upper { animation: sit_cuerpo_upper 1s linear 0s forwards }

.sit-cuello-bottom { animation: sit_cuello_bottom 1s linear 0s forwards }
.sit-cuello-upper { animation: sit_cuello_upper 1s linear 0s forwards }

.sit-head-back { animation: sit_head_back 1s linear 0s forwards }

.sit-ala-espalda { animation: sit_ala_espalda 1s linear 0s forwards }
.sit-ala-codo { animation: sit_ala_codo 1s linear 0s forwards }

.sit-brazo-hombro { animation: sit_brazo_hombro 1s linear 0s forwards }
.sit-brazo-codo { animation: sit_brazo_codo 1s linear 0s forwards }
.sit-brazo-mano { animation: sit_brazo_mano 1s linear 0s forwards }
.sit-brazo-dedos { animation: sit_brazo_dedos 1s linear 0s forwards }

.sit-pierna-cadera { animation: sit_pierna_cadera 1s linear 0s forwards }
.sit-pierna-rodilla { animation: sit_pierna_rodilla 1s linear 0s forwards }
.sit-pierna-pie { animation: sit_pierna_pie 1s linear 0s forwards }
.sit-pierna-dedos { animation: sit_pierna_dedos 1s linear 0s forwards }

.sit-cola1 { animation: sit_cola1 1s linear 0s forwards }

/*.sit-pierna {
    animation: sit_cuerpo 1s linear 0s;
    animation-name: pierna_cadera;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}*/



/*  --------------------- BODY AND CHEST --------------------  */
@keyframes sit_cuerpo_bottom {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(21deg) translate(-1px, -17px);
    }
}

@keyframes sit_cuerpo_upper {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(2px, -34px);
    }
}




/*  --------------------- NECK --------------------  */
@keyframes sit_cuello_bottom {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(342deg-360deg) translate(-4px, 2px);
    }
}
@keyframes sit_cuello_upper {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(350deg-360deg) translate(-1px, 6px);
    }
}



/*  --------------------- HEAD --------------------  */
@keyframes sit_head_back {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(342deg-360deg) translate(-8px, 8px);
    }
}




/*  --------------------- BRAZO --------------------  */
@keyframes sit_brazo_hombro {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(311deg-360deg) translate(-10px, -38px);
    }
}
@keyframes sit_brazo_codo {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(15deg) translate(0px, 0px);
    }
}
@keyframes sit_brazo_mano {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(328deg-360deg) translate(0px, 0px);
    }
}
@keyframes sit_brazo_dedos {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(293deg-360deg) translate(0px, 0px);
    }
}


/*  --------------------- PIERNA --------------------  */
@keyframes sit_pierna_cadera {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(20deg) translate(-12px, 0px);
    }
}
@keyframes sit_pierna_rodilla {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(277deg-360deg) translate(17px, 0px);
    }
}
@keyframes sit_pierna_pie {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(41deg) translate(0px, 0px);
    }
}
@keyframes sit_pierna_dedos {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(324deg-360deg) translate(0px, 0px);
    }
}




/*  --------------------- ALAS --------------------  */
@keyframes sit_ala_espalda {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(10deg) translate(-7px, 0px);
    }
}
@keyframes sit_ala_codo {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(342deg-360deg) translate(5px, 1px);
    }
}



/*  --------------------- COLA --------------------  */
@keyframes sit_cola1 {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(281deg-360deg) translate(3px, -27px);
    }
}