.pierna-cadera {
    animation: pierna_cadera 1s linear 0s infinite;
    /*animation-name: pierna_cadera;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

@keyframes pierna_cadera {
    0% {
      transform: rotate(0deg) translate(0px, 0px);
    }
    12% {
        transform: rotate(329deg-360deg) translate(-15px, -12px);
    }
    25% {
        transform: rotate(329deg-360deg) translate(-12px, -4px);
    }
    45% {
        transform: rotate(329deg-360deg) translate(-15px, -12px);
    }
    75% {
        transform: rotate(30deg) translate(-15px, -12px);
    }
    90% {
        transform: rotate(-12deg) translate(-16px, -5px);
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
  }