@mixin background-depth($layer, $zIndex) {
    background-image: url("http://127.0.0.1:8081/images/cave_parts/#{$layer}.svg");
    width: inherit;
    height: inherit;
    z-index: $zIndex;
    position: absolute;
    background-repeat: repeat-x;
  }

.cave__background {
   transition: 1s cubic-bezier(1, 0.99, 0,-0.01);
   transition-property: clip-path;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}

.cave__background.unexpand {
    transition: none;
}

.cave__background.expanded {
    width: inherit;
    height: inherit;
    display: block;
    z-index: 9;
}

.cave__background > .cave__background-filter {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
}

#projects .cave__background-depth1 {
    @include background-depth("columnas2", 5);
    background-size: cover;
    background-position: right 400px bottom 0px;
}

#about .cave__background-depth1 {
    @include background-depth("depth1", 5);
    background-size: cover;
    background-position: right 0px bottom 0px;
}

#experience .cave__background-depth1 {
    @include background-depth("depth1", 5);
    background-size: cover;
    background-position: right 0px bottom 0px;
}

#contact .cave__background-depth1 {
    @include background-depth("depth1", 5);
    background-size: cover;
    background-position: right 0px bottom 0px;
}

.cave__background .cave__background-depth2 {
    @include background-depth("depth2", 4);
    background-size: cover;
}

.cave__background .cave__background-depth3 {
    @include background-depth("depth3", 3);
    background-size: cover;
}

.cave__background .cave__background-depth4 {
    @include background-depth("depth4", 2);
    background-size: cover;
}