@use "../../animations/cv_sections/about/bat-wing-flutter";

.about-section {
    height: 100vh;
    width: 75vw;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 4;
    transform: scaleX(0);
    transition: transform .4s ease-in;

    &.show {
        transform: scaleX(1);
    }
}

.disable-click {
    pointer-events: none;
}

#info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-between;

    .info__box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        z-index: 4;
        transition: 1s ease-in;
        transition-property: top, left;
        cursor: pointer;

        @media (max-width: 1160px) {
            font-size: .9rem;
            animation: none;
        }
    }

    .info__panel {
        font-size: 2rem;
        color: white;
        font-weight: 600;
        position: relative;
    
        @media (max-width: 1560px) {
            font-size: 1.2rem;
        }

        @media (max-width: 1160px) {
            font-size: .9rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: -.5rem;
            box-shadow: 1px 1px 5px black;
            width: 100%;
            height: 100%;
            background-color: rgba(61, 61, 61, 0.623);
            padding-bottom: 1rem;
        }
        
        &:hover::before,
        &:focus::before {
            box-shadow: 0px 0px 5px 2px white;
        }

        .info__text {
            padding: .5rem;
            position: relative;
            display: block;
            text-align: center;
        }

        .info__img {
            position: absolute;
            max-width: 45px;
            width: 100%;
            z-index: 10;
            padding: .1rem;
            background-color: white;
            box-shadow: 1px 0px 3px white;
            border-radius: 5px;
        }
    }

}

.bat-wing {
    background-image: url('./images/cv_sections/about/bat-wing.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top right;
    max-width: 100px;
    width: 100%;
    height: 100px;
    position: absolute;
    left: -6.5rem;
    top: -1rem;

    @media (max-width: 1160px) {
        display: none;
    }

    &.reverse {
        left: calc(100% - 86px);
        transform: scaleX(-1);
        top: -1rem;
    }
}

#technologies {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    margin: 0 auto;
    width: 50vw;

    @media (min-width: 2000px) {
        width: 35vw;
    }

    .technology {
        object-fit: contain;
    }


}

#languages {
    display: flex;
    justify-content: space-evenly;

    @mixin lang($lang) {
        background-image: url('./images/cv_sections/about/#{$lang}.svg');
        background-size: cover;
        width: 100%;
        max-width: 80px;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;

        &:hover, &:focus {
            filter: drop-shadow(0px 0px 5px white);
        }
    }
    
    .languages__lang-es {
        @include lang("spanish");
        background-position-y: 1px;
    }
    .languages__lang-ca {
        @include lang("catalan");
    }
    .languages__lang-en {
        @include lang("english");
    }

}

#social {
    display: flex;
    justify-content: space-evenly;
}

.social__box {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover, &:focus {
        filter: drop-shadow(0 0 5px white);
    }

    .social__img {
        max-width: 50px;
        object-fit: contain;
    }

    &:hover .social__img {
        width: 50px;
        object-fit: contain;
    }

    .social__link {
        position: absolute;
        left: 90%;
        opacity: 0;
        width: max-content;
        transition: .1s ease-in;
        transition-property: left, opacity;
        text-decoration: underline;
        background-color: white;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 5px;
        padding: .3rem;
        pointer-events: none;

        &.not-a-link {
            text-decoration: none;
            cursor: default;
        }

        &:visited, :active { color: initial }
    }

    &:focus .social__link,
    .social__link:focus {
        left: 110%;
        opacity: 1;
        pointer-events: all;
    }
}