.contact-section {
    height: 100vh;
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__label {

}

.contact-form__input {

}

.contact-form__teaxt-area {

}

.contact-form__button {
    
}