@use "../../animations/cv_sections/contact/error";

.contact-section {
    height: 100vh;
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contact-form {
    width: 70%;
}

.contact-form__frame {
    width: 100%;
    height: 100%;
    background-color: #38383885;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    box-shadow: 0px 0px 7px 1px black;
}

.contact-form__input-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.contact-form__input {
    height: 3rem;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem 0;
    transition: .2s ease-in;
    transition-property: margin;
    border-radius: 40px;
    border: none;

    &:focus {
        outline: none;
    }

    &:focus,
    &:valid {
        margin-top: 3.5rem;
    }

    &:focus + .contact-form__label,
    &:valid + .contact-form__label {
        top: -.8rem;
        color: white;
        padding: 1.7rem 0;
    }
}

.contact-form__label {
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    color: rgba(63, 63, 63, 0.658);
    pointer-events: none;
    position: absolute;
    top: 0;
    padding: 1.7rem 1rem;
    transition: .2s ease-in;
    transition-property: top, padding, color;
}

.contact-form__teaxt-area {
    resize: none;
    height: 25vh;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: .2s ease-in;
    transition-property: margin;
    padding: 1rem;
    border-radius: 20px;
    border: none;

    &:focus {
        outline: none;
    }

    &:focus,
    &:valid {
        margin-top: 3.5rem;
    }

    &:focus + .contact-form__label,
    &:valid + .contact-form__label {
        top: -.8rem;
        color: white;
        padding: 1.7rem 0;
    }
}

.contact-form__button {
    cursor: pointer;
    margin: 2.5rem 0 .5rem 0;
    width: 30%;
    padding: 1rem;
    border-radius: 40px;
    color: white;
    outline: none;
    border: none;
    font-size: 1.5rem;
    background-color: #ff1c1c;
    transition: .2s ease-in;
    transition-property: background-color, margin, box-shadow;

    &:hover, &:focus {
        background-color: #b41616;
        box-shadow: 0px 0px 4px 1px white;
        margin-left: 1rem;
    }

    &:active {
        background-color: #fa5d5d;
        box-shadow: none;
    }
}

.error-form {
    @extend .error;

    box-shadow: 0px 0px 6px 3px #ff1c1c;
}