.experience-section {
    overflow: hidden;
    height: 100vh;
    width: 80vw;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 5;
}

#experience-bar {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.experience {
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    max-height: 20%;
    column-gap: 2rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s ease-in;
    transition-property: transform;
    margin: 20vh 0;
    transform: scale(.8);

    &:first-child {
        margin: 40vh 0 0 0;
    }

    &:last-child {
        margin: 0 0 40vh 0;
    }

    &.selected {
        transform: scale(1);
    }

    &.selected .experience__work {
        transform: translateY(0%);
    }

    .experience__img {
        max-width: 100px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
        transition: filter .2s ease-in;
    }

    .experience__img:hover,
    .experience__img:focus {
        filter: drop-shadow(0px 0px 10px rgba(230, 230, 230, 0.89));
    }
}

.experience__box {
    display: flex;
    gap: 1.5rem;
}

.experience__work {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: .5s ease-in;
    transition-property: transform;
    transform: translateY(40%);
    
    .experience__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .experience__name {
        position: relative;
        z-index: 3;
        padding: .5rem;
        font-size: 1.4rem;
        margin-bottom: .5rem;
        background-color: rgba(54, 54, 54, 0.664);
    }

    .experience__place {
        @extend .experience__name;
    }
}

.experience__timeline {
        display: flex;
        height: 100%;
        align-items: center;

    .experience__year {
        position: relative;
        z-index: 3;
        font-size: 2rem;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.438);
        padding: .5rem;
        margin-bottom: .5rem;
        background-color: rgb(54, 54, 54);

        &::before {
            content: '';
            right: -110%;
            top: 50%;
            height: 2px;
            width: 100%;
            background-color: white;
            position: absolute;
        }
    }

}

.experience-tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0,-.5rem);
    opacity: 0;
    transition: .5s ease-in;
    transition-property: transform, opacity;

    &.expanded {
        transform: translate(.5rem, 0rem);
        opacity: 1;
    }
}

.experience-tasks__task {
    position: relative;
    margin: .1rem 0;
    background-color: rgba(54, 54, 54, 0.664);
    transform-origin: top center;

    .experience-tasks__tech {
        font-size: 1.1rem;
        background-color: inherit;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: .3s ease-in;
        transition-property: opacity, margin, padding, height;
    }

    &.expanded .experience-tasks__tech {
        opacity: 1;
        position: relative;
        visibility: visible;
        padding: .5rem;
        margin: 1rem 0 1rem .5rem;
        cursor: default;
    }

    .experience-tasks__tech-item {
        margin-bottom: .15rem;
    }

    &.expanded .experience-tasks__task-expand {
        background-color: white;
        color: rgb(54, 54, 54);
    }
}

.experience-tasks__task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .experience-tasks__task-name {
        padding: 0 .5rem;
        pointer-events: none;
    }

    .experience-tasks__task-expand {
        font-size: 2rem;
        height: 100%;
        padding: 0 .5rem;
        background-color: rgba(54, 54, 54, 0.815);
        pointer-events: none;
        visibility: hidden;

        &.visible {
            visibility: visible;
        }
    }
}