@use 'sass:math';
@use "../../animations/cv_sections/projects/keyframes/scale-up-center";

.projects-section {
    width: 100vw;
    padding-left: 40%;
    height: 100vh;
    float: right;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 5;
    padding-top: 4%;
}

.projects-guide {

    position: absolute;
    left: 20%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a2ab2;
    padding: .5rem;
    border-radius: 5px;
    transform: scale(.5);
    opacity: 0;

    &.show {
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
    .projects-guide__bottom-row {
        display: flex;
    }

    .projects-guide__key {
        text-align: center;
        margin: .3rem;
        padding: .2rem;
        font-weight: bold;
        font-size: 2rem;
        min-width: 2.5rem;
        min-height: 2.5rem;
        background-color: #2a2a2a;
        color: white;
        border-radius: 5px;
        opacity: .5;
        border: 1px solid white;

        &.selected {
            opacity: 1;
        }
    }

    .projects-guide__arrow-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 0;
    }

}

.projects-guide__arrow {
    position: relative;
    width: 50px;
    height: 5px;
    background-color: white;

    &.reverse {
        transform: scaleX(-1);
    }

    .projects-guide__arrow.stick2 {
        width: 25px;
        position: absolute;
        transform: rotate(-30deg);
        right: 0;
        bottom: -.4rem;
    }
    .projects-guide__arrow.stick3 {
        right: 0;
        top: -.4rem;
        width: 25px;
        position: absolute;
        transform: rotate(30deg);
    }
}

.project-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    cursor: pointer;
    transform: scale(.5);
    opacity: 0;
    pointer-events: none;
    max-width: 25vw;

    &.show {
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        pointer-events: all;
    }

    &:last-of-type {
        &::before {
            border-radius: 50%;
        }
    }

    .project-box__image {
        height: 45vh;
        object-fit: contain;
        width: auto;
    }
    
    .project-box__tech {
        display: flex;
        justify-content: space-evenly;
    }

    .project-box__tech-img {
        max-height: 100px;
        height: 5vh;
        width: 5vh;
        margin: .7rem 0 .5rem 0;
        background-color: white;
        object-fit: contain;
        border-radius: 50%;
        padding: .1rem;
    }

    .project-box__link {
        position: absolute;
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -30px;
        left: -30px;
        text-decoration: none;

        &:hover {
            background-color: yellow;
        }

        .project-box__link-icon {
            font-size: 3em;
            width: 25px;
            height: 25px;
            background-image: url('./images/icons/external-link.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &::before {
        content: '';
        border-radius: 10px;
        position: absolute;
        box-shadow: 1px 1px 13px 8px #1d1d1d;
        background-color: #5a5a5a85;
        height: 104%;
        width: calc(100% + 30px);
        margin: -15px;
        z-index: -1;
    }
    
    &:hover::before, &:focus::before {
        box-shadow: 1px 1px 10px 7px #fefefe;
    }

}

$projects: 5;
$division:  math.div(85%, $projects);
$left: 0%;
@for $i from 1 through $projects {
    $left: $left + $division;

    .project#{$i} {
        left: $left;
    }

}