@keyframes desktop-home-guide {
    0% {
        background-image: url("./images/icons/cursor-hand-open.svg");
        top: 30%;
        left: 50%;
    }
    25% {
        background-image: url("./images/icons/cursor-hand-open.svg");
        top: 5%;
        left: 75%;
    }
    26% {
        background-image: url("./images/icons/cursor-hand-grab.svg");
    }
    75% {
        background-image: url("./images/icons/cursor-hand-grab.svg");
        top: 40%;
        left: 20%;
    }
    76% {
        background-image: url("./images/icons/cursor-hand-open.svg");
    }
    100% {
        background-image: url("./images/icons/cursor-hand-open.svg");
        top: 30%;
        left: 50%;
    }
}