@use "dragon_home";
@use "dragon_speech_bubble";

/*#dragon {
    transform: scale(.55) translate(0, 0) !important;
    user-select: none;
}

#dragon.reverse {
    transform: scale(-.55, .55) translate(-568px, 0) !important;
}*/

$size: 1;

#dragon {
    //transform: scale($size) translate(0, 0) !important;
    user-select: none;
    position: absolute;
    z-index: 12;
}

#dragon.reverse {
    //transform: scale(-$size, $size) translate(-568px, 0) !important;
}


#dragon:hover {
    cursor: grab;
}

#dragon.transition {
    transition: 1s cubic-bezier(1, 0.99, 0,-0.01);
    transition-property: top, left;

    &.fast {
        transition: .2s cubic-bezier(1, 0.99, 0,-0.01);
    }
}

#dragon.controllable {
    transition: .1s cubic-bezier(1, 0.99, 0,-0.01);
    transition-property: top, left;
}