@use "animations/dragon/dragon_walk";
@use "animations/dragon/dragon_sit";
@use "responsive/dragon";
@use "styles/dragon/dragon_main";
@use "styles/cave";
@use "styles/cv_sections/projects";
@use "styles/cv_sections/about";
@use "styles/cv_sections/contact";
@use "styles/cv_sections/education";
@use "styles/cv_sections/experience";
@use "styles/cv_sections/cv_section";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

html {
    background: white;
    font-family: 'Josefin Slab', serif;
}

main {
    width: 100vw;
    height: 100vh;
}

.pivot-point::before {
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    margin: 50% 50%;
    font-size: 1rem;
    content: '';
    display: block;
    width: 10px;
    z-index: 200;
    height: 10px;
}