@use "styles/app";
@use "animations/dragon/dragon_walk";
@use "animations/dragon/dragon_sit";
@use "styles/dragon/dragon_main";
@use "styles/cave";
@use "styles/language";
@use "styles/cv_sections/projects";
@use "styles/cv_sections/about";
@use "styles/cv_sections/contact";
@use "styles/cv_sections/education";
@use "styles/cv_sections/experience";
@use "styles/cv_sections/cv_section";
@use "styles/cv_sections/desktop_guide";

@use "styles/mobile/app_mobile";
@use "styles/mobile/cv_sections/cv_section_mobile";
@use "styles/mobile/language_mobile";
@use "styles/mobile/menu_mobile";
@use "styles/mobile/dragon/dragon_main_mobile";
@use "styles/mobile/dragon/dragon_home_mobile";
@use "styles/mobile/dragon/dragon_speech_bubble_mobile";
@use "styles/mobile/cv_sections/about_mobile";
@use "styles/mobile/cv_sections/projects_mobile";
@use "styles/mobile/cv_sections/education_mobile";
@use "styles/mobile/cv_sections/experience_mobile";
@use "styles/mobile/cv_sections/contact_mobile";
@use "styles/mobile/cv_sections/desktop_guide_mobile";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    background: white;
    font-family: 'Josefin Slab', serif;
}

main {
    width: 100vw;
    height: 100vh;
}

/*.pivot-point::before {
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    margin: 50% 50%;
    font-size: 1rem;
    content: '';
    display: block;
    width: 10px;
    z-index: 200;
    height: 10px;
}*/