@use "animations/dragon_walk";
@use "animations/dragon_sit";
@use "responsive/dragon";
@use "styles/dragon/dragon_main";
@use "styles/cave";
@use "styles/cv_sections/projects";
@use "styles/cv_sections/cv_section";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

html {
    background: white;
    font-family: 'Josefin Slab', serif;
}

main {
    width: 100vw;
    height: 100vh;
}

#dragon {
    user-select: none;
}

#dragon.transition {
    transition: 1s cubic-bezier(1, 0.99, 0,-0.01);
    transition-property: top, left;
}

#dragon.controllable {
    transition: .1s cubic-bezier(1, 0.99, 0,-0.01);
    transition-property: top, left;
}

.pivot-point::before {
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    margin: 50% 50%;
    font-size: 1rem;
    content: '';
    display: block;
    width: 10px;
    z-index: 200;
    height: 10px;
}