@import "../breakpoints";

@media (max-width: $mobile), (hover: none) {
    #dragon { 
        bottom: -70vh !important;
        left: 70vw !important;
        top: 0% !important;
        transform: scale(-.4, .4) !important;
    }
    
    .dragon__guide {
        display: none;
    }
}