/*  --------------------- BODY AND CHEST --------------------  */
@keyframes sit_cuerpo_bottom {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(21deg) translate(-1px, -17px);
    }
}

@keyframes sit_cuerpo_upper {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(2px, -34px);
    }
}




/*  --------------------- NECK --------------------  */
@keyframes sit_cuello_bottom {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(342deg-360deg) translate(-4px, 2px);
    }
}
@keyframes sit_cuello_upper {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(350deg-360deg) translate(-1px, 6px);
    }
}



/*  --------------------- HEAD --------------------  */
@keyframes sit_head_back {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(342deg-360deg) translate(-8px, 8px);
    }
}




/*  --------------------- BRAZO --------------------  */
@keyframes sit_brazo_hombro {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(311deg-360deg) translate(-10px, -38px);
    }
}
@keyframes sit_brazo_codo {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(15deg) translate(0px, 0px);
    }
}
@keyframes sit_brazo_mano {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(328deg-360deg) translate(0px, 0px);
    }
}
@keyframes sit_brazo_dedos {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(293deg-360deg) translate(0px, 0px);
    }
}


/*  --------------------- PIERNA --------------------  */
@keyframes sit_pierna_cadera {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(20deg) translate(-12px, 0px);
    }
}
@keyframes sit_pierna_rodilla {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(277deg-360deg) translate(17px, 0px);
    }
}
@keyframes sit_pierna_pie {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(41deg) translate(0px, 0px);
    }
}
@keyframes sit_pierna_dedos {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(324deg-360deg) translate(0px, 0px);
    }
}




/*  --------------------- ALAS --------------------  */
@keyframes sit_ala_espalda {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(10deg) translate(-7px, 0px);
    }
}
@keyframes sit_ala_codo {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(342deg-360deg) translate(5px, 1px);
    }
}



/*  --------------------- COLA --------------------  */
@keyframes sit_cola1 {
    from {
      transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(281deg-360deg) translate(3px, -27px);
    }
}